{% extends "account/base1.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<head>

<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :250;
    width : 500;
    padding : 20;
}
</style>


</head>
<!-- <h1>{% trans "Sign In" %}</h1> -->

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<br /><br /><form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
<table id="t01" align="center" border='2'>
<tr>
  <th>Sign In</th>

</tr>
<tr>
<td>

  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<!--   <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
  <!-- <button class="primaryAction" type="submit">{% trans "Sign In" %}</button> -->
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button><br /><br />
  <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
</td>
</tr>
</table>
{% endblock %}
