{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<head>

<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :150;
    width : 500;
    padding : 20;
}
</style>


</head>

<!-- <h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p> -->

<br /><br /><form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}

  <table id="t01" align="center" border='2'>
  <tr>
    <th>Sign Out</th>
  </tr>
  <tr>
  <td>
	<p>{% trans 'Are you sure you want to sign out?' %}</p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
  </form>
  </td>
  </tr>
  </table>



{% endblock %}
