{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
<head>

<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :50;
    width : 250;
    padding : 20;
}
</style>


</head>
{% block content %}
    

    <br /><br /><form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <table id="t01" align="center" border='1'>
        <tr></tr>
		<tr>
		<td>
		<h1>{% trans "Change Password" %}</h1>
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </td>
</tr>
</table>
{% endblock %}
