{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <!-- <a href="{{ site_url }}">{% trans 'View site' %}</a> / -->
                    <a href="/home">{% trans 'View site' %}</a>  /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
<!--                 {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %} -->
                <a href="{% url 'account_logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}
    
<!--     {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %} -->

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}
        {% if module_name == 'Employee Profiles'%}
            <form action="{%url 'employee:save_employee_by_csv' %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
            <label > Select a CSV file</label> 
            <input type="file" name="myfile" value="fileupload" > 
            <input type="submit" value="Import"> 
            </form>
            {% if count %}
                <h4>Imported {{count}} rows successfully</h4>
            {% endif %}


        {% elif module_name == 'KPIs' %}

            <form action="{%url 'employee:save_kpi_by_csv' %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
            <label > Select a KPI file</label> 
            <input type="file" name="myfile" value="fileupload" > 
            <input type="submit" value="Import"> 
            </form>
            {% if count %}
                <h4>Imported {{count}} rows successfully</h4>
            {% endif %}


        {% elif module_name == 'Assign KPIs' %}

            <form action="{%url 'employee:save_assignkpi_by_csv' %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
            <label > Select a file for assigning KPI</label> 
            <input type="file" name="myfile" value="fileupload" > 
            <input type="submit" value="Import"> 
            </form>
            {% if count %}
                <h4>Imported {{count}} rows successfully</h4>
            {% endif %}

        {% elif module_name == 'Reporting Managers' %}

            <form action="{%url 'employee:save_rm_by_csv' %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
            <label > Select a file for assigning RM</label> 
            <input type="file" name="myfile" value="fileupload" > 
            <input type="submit" value="Import"> 
            </form>
            {% if count %}
                <h4>Imported {{count}} rows successfully</h4>
            {% endif %}



        {% else %}
            <h1>{{ title }}</h1>
        
        {% endif %}
        
            {% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>