{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Fill-Up Feedback
      {% endblock %}
	{% block content %}

		{% if msg %}
			{{msg}}.
      {% if user.role == 'rm' %}
      <a href="{% url 'employee:employees_under_rm' user.id %}">Back</a>
      {% else %}
      <a href="{% url 'employee:view_all_employees' user.id %}">Back</a>
      {% endif %}
		{% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :50;
    width : 300;
    padding : 20;
}
table#t02 th {
    background-color:#696969  ;
    color: black;
}
table#t02 td {
    text-align: center;
    height :100;
    width : 700;
    padding : 20;
}
.note_for_rating{
  color: red;
  font-size: 115%;
}
.category_data p{
  text-align: left;
}
</style>
</head>
<body>
{% if kpiset %}<br /><br /><table id="t02" align="center" border='2'>
  <tr><th> KPIs assigned to {{name}}:</th></tr>
  <tr><td>

      {% for item in kpiset %}
        <p align="left">{{ forloop.counter }}.{{ item.kpi }}</p>
      {% endfor %}<br /><br />

</td></tr></table>{% endif %}<br /><br />

  <form id="submit_category_form" action="{% url 'employee:view_competency' emp_id %}" method='post' >{% csrf_token %}
{% if is_rm %}
    <table id="t01" align="center" border='2'>
      <tr>
        <th>Categories</th>
        <th>Comments</th>
        <th>Action</th>
      </tr>
        {% for item in catset %}
      <tr>
        <td class="category_data">{{ item.category | linebreaks }}</td>
        <td> 
          <textarea rows="4" cols="50" name="{{ item.category.id }}" id="comment_area_{{ item.category.id }}">{% if item.filled_by.id == user_id %}{{item.comments}}{% endif %}</textarea>
        </td>
        <td><a href="{% url 'employee:view_competency_result' emp_id item.category.id %}">
        View Comments</a><br><a href="{% url 'employee:view_competency_result_previous' emp_id item.category.id %}">
        2017 Comments</a></td>
      </tr>
        {% endfor %}
    </table> <br /><br />
  <!-- </form> -->
{% else %}
  <table id="t01" align="center" border='2'>
    <tr>
      <th>Categories</th>
      <th>Action</th>
    </tr>
      {% for item in catset %}
    <tr>
      <td class="category_data">{{ item.category |linebreaks}}</td>
      <td><a href="{% url 'employee:view_competency_result' emp_id item.category.id %}">
      View comments</a><br><a href="{% url 'employee:view_competency_result_previous' emp_id item.category.id %}">
        2017 Comments</a></td>
    </tr>
      {% endfor %}

  </table> <br /><br />
{% endif %}


    {% if msg2 %}
        <p align="center">{{ msg2 }}</p>
    {% elif feedback %}

<table id="t01" align='center' border="2">
  <tr>
    <th>FeedBack</th>
    <th></th>
  </tr>
  <!-- <tr>
    <td>Report Manager {{ feedback.report_manager.emp_name }}'s Rating</td>
    <td>{{ feedback.rm_rating }}</td>
  </tr> -->
  <tr>
    <td>Feedback Manager {{ feedback.report_manager.emp_name }}'s Comments</td>
    <td>{{ feedback.rm_feedback}}</td>
  </tr>
<!-- {% if feedback.hr_rating %}
  <tr>
    <td>HR {{ feedback.hr.emp_name }}'s Rating</td>
    <td>{{ feedback.hr_rating}}</td>
  </tr>
{% endif %} -->
{% if feedback.hr_feedback %}
  <tr>
    <td>HR {{ feedback.hr.emp_name }}'s Comments</td>
    <td>{{ feedback.hr_feedback}}</td>
  </tr>
{% endif %}
</table><br /><br />        
    {% endif %}

<!-- <form id="form2" action="{% url 'employee:view_competency' emp_id %}" method='post'>{% csrf_token %} -->
<table id="t01" align='center' border="2">
  <tr>
    <th>Member name :</th>
    <th>{{name}}</th>
  </tr>
  <!-- <tr>
    <td>Rating</td>
    <td>{{form.rating}}<p class="note_for_rating" align="center">Note: Rating <strong>1 being Needs Improvement</strong> and <strong>5 being Excellent</strong> .</p></td>
  </tr> -->
  <tr>
    <td>Comments</td>
    <td>{{form.feedback}}</td>
  </tr>
{% if request.user.role == 'hr' or request.user.role == 'hr and rm' %}
  <tr>
    <td>Approve Feedback Manager's feedback</td>
    <td> {{form.hr_approved}} </td>
  </tr>
{% endif %}
{% if request.user.role == "ceo" or request.user.role == 'ceo and rm' %}
  <tr>
    <td>Approve HR's feedback</td>
    <td> {{form.ceo_approved}} </td>
  </tr>
{% endif %}
</table>
<p align="center"><input type='submit' value='Save' /></p>
</form>

</body>
</html>
{% endif %}

<script type="text/javascript">

  $(document).ready(function(){
    $('#submit_category_form').submit(function(){
      var submit_form = true;
      $("[id*='comment_area_']").each(function(){ 
        if ($(this).val().trim() == "" || $(this).val().trim() == undefined){
          submit_form = false;
        }
      })
      if (!submit_form){
        alert("Please fill all the comments box.");
      }
      return submit_form
    });
  });
</script>
{% endblock %}
