{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Category Result
      {% endblock %}
	{% block content %}

		{% if msg %}
			{{msg}}
		{% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :50;
    width : 250;
    padding : 20;
}
</style>
</head>
<body>
<br /><br /><table id="t01" align="center"  border='2'>
  <tr>
    <th>Self Appraisal</th>
    <th>Comments</th>
  </tr>
  {% for result in resultset_self %}
  <tr>
    <td>{{ result.filled_by.emp_name }}</td>
    <td>{{ result.comments }}</td>
  </tr>
  {% endfor %}
</table>
<br /><br /><table id="t01" align="center"  border='2'>
  <tr>
    <th>Member</th>
    <th>Comments</th>
  </tr>
  {% for result in resultset %}
  <tr>
    <td>{{ result.filled_by.emp_name }}</td>
    <td>{{ result.comments }}</td>
  </tr>
  {% endfor %}
</table>
<p align="center"><input type=button value="Back" onClick="javascript:history.go(-1);"></p>
</body>
</html>
        {% endif %}

    {% endblock %}