{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | CEO Home
      {% endblock %}
  {% block content %}
  <!DOCTYPE html>
<html>
<head>
<style >
  
#content-related {
    float: right;
    width: 260px;
    height: 350px;
    position: relative;
    bottom:260px;
    margin-right: -300px;
    background-color: #e2e2e2;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  
</script> 
<script>
function ShowHide()
{

  var team_form_active = "{{ team_form_active }}"
  // $('#hi').html(self_form_expired );

  if (team_form_active === 'False'){
    $('#app4 a,').css('color','grey');
    $("#app4 a, ").click(function(e){
    e.preventDefault();});     
  }

}

$(document).ready(function(){

    // ShowHide();

});

</script>
</head>
<body class=" dashboard" data-admin-utc-offset="0">
  <div id="container">
    <div id="content" class="colMS">
    {% if message %}
      <div class="alert success">
      <span class="closebtn">&times;</span>  
       {{ message }} 
      </div>
    {% endif %}
    <h1>Appraisal Site</h1>
      <div id="content-main">
        <div class="home module">
          <table>
            <caption>
              Member
            </caption>
            <tbody>  
            <tr id='app4'>
              <th scope="row">
                Fill Up Team Appraisal
              </th>
              <td>
                <a href="{% url 'employee:team' user.id %}" class = "addlink">Select</a>
              </td>
            </tr>        
          </tbody>
        </table><br />
          
          <table>
            <caption>
              Feedback Manager
            </caption>
            <tbody>
            <tr>
              <th scope="row">
                Reportees
              </th>
              <td>
                <a href="{% url 'employee:employees_under_rm' user.id %}" class = "addlink">Select</a>
              </td>
            </tr>         
          </tbody>
        </table><br />

        <table>
          <caption>
            CEO
          </caption>
          <tbody>
          <tr>
            <th scope="row">
              All Members
            </th>
            <td>
              <a href="{% url 'employee:view_all_employees' user.id %}" class = "addlink">Select</a>
            </td>
          </tr>         
        </tbody>
      </table>
      </div>

      <div id="content-related">
        <div class="module" id="recent-actions-module">
          <h2>Notifications</h2>
          <ul style="list-style-type:square">
            <li>Last date to fill-up feedback of your team and reportees is {{last_date3}}</li>
          </ul>
        </div>
      </div>
      <br class="clear">
      
    </div>
  </div>
</body>
<script>
  var close = document.getElementsByClassName("closebtn");
  var i;

  for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
          var div = this.parentElement;
          div.style.opacity = "0";
          setTimeout(function(){ div.style.display = "none"; }, 600);
      }
  }
</script>
</html>
{% endblock %}