{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Link Disabled
      {% endblock %}
	{% block content %}

<br /><br />
This link has been disabled.
<br><br>

{% endblock %}