{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Reportees
      {% endblock %}
	{% block content %}
      {% if msg %}
      {{msg}}
    {% else %}
	<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 20;
}
table#t01 tr:hover{background-color:#c1c1c1}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  
</script> 
<script>
function ShowHide()
{

  var finalize_reviewer_active = "{{ finalize_reviewer_active }}"
  var employee_under_rm_form_active = "{{ employee_under_rm_form_active }}"
  var feedback_active = "{{ feedback_active }}"
  // $('#hi').html(finalize_reviewer_expired );
  if (finalize_reviewer_active === 'False'){
    $('#app a').css('color','grey');
    $("#app a").click(function(e){
    e.preventDefault();});    
  }
  if (employee_under_rm_form_active === 'False'){
    $('#app5 a,').css('color','grey');
    $("#app5 a, ").click(function(e){
    e.preventDefault();});     
  }
  if (feedback_active === 'False'){
    $('#app6 a,').css('color','grey');
    $("#app6 a, ").click(function(e){
    e.preventDefault();});     
  }
}

$(document).ready(function(){

    ShowHide();

});
  </script>
</head>
<body>

<br /><br /><table id="t01" align="center" border="2">
  <tr>
  <th>Member</th>
  <th>Reviewers</th>
  <!-- <th>Appraisal Form</th> -->
  <th>Feedback</th>
  <!-- <th>Rating</th> -->
  </tr>
	{% for emp in empset %}
  <tr>
  	<td>{{emp.employee.emp_name}}</td>
  	<!-- <td id='app'><a href="/admin/employee/reviewer/">Finalize Team</a></td> -->
    <td id='app'><a href="/admin/employee/reviewer/?employee__id__exact={{emp.employee.id}}">Finalize Team</a></td>
  	<!-- <td id='app5'><a href="{% url 'employee:save_category_form' emp.employee.id %}">Fill Competency Form</a>
    {% for result in categoryresult %}
        {% if result.employee.id == emp.employee.id %}
            {% if result.comments %}
              <p>&#x2714;</p>
            {% endif %}
        {% endif %}
    {% endfor %}    
    </td> -->
    <td id=''><a href="{% url 'employee:view_competency' emp.employee.id %}">FeedBack</a>
    {% for feed in feedback %}
        {% if feed.employee.id == emp.employee.id %}
            {% if feed.rm_rating %}
              <p id='status'>&#x2714;</p>   
            {% endif %}           
        {% endif %}
    {% endfor %}
    </td>
    <!-- <td>    {% for feed in feedback %}
        {% if feed.employee.id == emp.employee.id %}
              {{feed.rm_rating}}             
        {% endif %}
    {% endfor %}
    </td> -->
  </tr>
  {% endfor %}

</table>
<div id="hi"></div>
</body>
</html>
        {% endif %}
{% endblock %}



