{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | RM Fill-up Feedback
      {% endblock %}
	{% block content %}    
    {% if msg %}
      {{msg}}
    {% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 5;
}
</style>
</head>
<body>
<br /><br /><form action="{% url 'employee:provide_feedback' emp_id %}" method='post'>{% csrf_token %}
<table id="t01" align='center' border="2">
  <tr>
    <th>Feedback of :</th>
    <th>{{name}}</th>
  </tr>
  <tr>
  	<td>Rating</td>
    <td>{{form.rating}}</td>
  </tr>
  <tr>
  	<td>Comments</td>
  	<td>{{form.feedback}}</td>
  </tr>
</table>
{% if request.user.role == "HR" %}
{{form.hr_approved}}
{% endif %}
{% if request.user.role == "CEO" %}
{{form.ceo_approved}}
{% endif %}

<p align="center"><input type='submit' value='Save' /></p>
</form>
</body>
</html>

        {% endif %}

{% endblock %}