{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Feedback
      {% endblock %}
	{% block content %}    
    {% if msg %}
      {{msg}}
    {% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :50;
    width : 250;
    padding : 20;
}
.category_data p{
  text-align: left;
}
</style>
</head>
<body>

<br /><br /><table id="t01" align='center' border="2">
  <tr>
    <th>Your Feedback</th>
    <th></th>
  </tr>
{% if feedback.ceo_rating %}
  <tr>
  	<td>Rating</td>
    <td>{{ feedback.ceo_rating }}</td>
  </tr>
{% elif feedback.hr_rating %}
  <tr>
    <td>Rating</td>
    <td>{{ feedback.hr_rating }}</td>
  </tr>
{% else %}
  <tr>
    <td>Rating</td>
    <td>{{ feedback.rm_rating }}</td>
  </tr>
{% endif %}


</table><br /><br />

{% if summary %}
  <table id="t01" align="center" border='2'>
      <tr>
        <th>Categories</th>
        <th>Comments</th>
      </tr>
        {% for item in summary %}
        <tr>
          <td class="category_data">{{ item.category | linebreaks }}</td>
          <td> {{ item.comments }} </td>
        </tr>
      {% endfor %}
  </table> <br /><br />
{% endif %}

</body>
</html>

{% endif %}

{% endblock %}