{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | All Members
      {% endblock %}
	{% block content %}
	<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 20;
}
table#t01 tr:hover{background-color:#c1c1c1}
</style>

</head>
<body>

<br /><br /><table id="t01" align="center" border='2'>
  <tr>
    <th>Reviewers</th>
    <th>Members</th>
  </tr>
	{% for def in defaulter_set %}
  <tr>
  	<td>{{def.emp_name}}</td>
    <td><a href="{% url 'employee:form_status_next' def.id %}" class = "addlink">Select</a></td>
  </tr>
  	{% endfor %}

</table>
</body>
</html>

{% endblock %}



