{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | HR Home
      {% endblock %}
	{% block content %}
	<!DOCTYPE html>
<html>
<head>
<style >
  
#content-related {
    float: right;
    width: 260px;
    height: 350px;
    position: relative;
    bottom:400px;
    margin-right: -300px;
    background-color: #e2e2e2;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  
</script> 
<script>
function ShowHide()
{
  var self_form_expired = "{{ self_form_expired }}"
  var team_form_active = "{{ team_form_active }}"
  var can_view_feedback = "{{ can_view_feedback }}"
  // $('#hi').html(self_form_expired );
  if (self_form_expired === 'True'){
    $('#app1 a, #app2 a, #app3 a').css('color','grey');
    $("#app1, #app2, #app3").click(function(e){
    e.preventDefault();});    
  }
  if (team_form_active === 'False'){
    $('#app4 a,').css('color','grey');
    $("#app4, ").click(function(e){
    e.preventDefault();});     
  }
  if (can_view_feedback === 'False'){
    $('#app7 a,').css('color','grey');
    $("#app7, ").click(function(e){
    e.preventDefault();});     
  }
}

$(document).ready(function(){

    // ShowHide();

});

</script>
<script type="text/javascript" src="/static/js/jquery.countdown.js"></script> 
</head>
<body class=" dashboard" data-admin-utc-offset="0">
  <div id="container">
    <div id="content" class="colMS">
    {% if message %}
      <div class="alert success">
      <span class="closebtn">&times;</span>  
       {{ message }} 
      </div>
    {% endif %}
    <h1>Appraisal Site</h1>
    <h3 align="right" class="countdown_timer" id="getting-started"></h3>
      <div id="content-main">
        <div class="home module">
          <table>
            <caption>
              Member
            </caption>
            <tbody>
            <tr id ='app1'>
              <th scope="row">
                Add Reviewers
              </th>
              <td>
                <a href="{%url 'employee:define_reviewers' user.id%}" class = "addlink">Select</a>
              </td>
            </tr>
            <tr id='app2'>
              <th scope="row">
                View Reviewers
              </th>
              <td>
                <a href="{%url 'employee:view_reviewers' user.id%}" class = "addlink">Select</a>
              </td>
            </tr>
            <tr id='app3'>
              <th scope="row">
                Self Appraisal
              </th>
              <td>
                
                <a href="{% url 'employee:save_category_form' user.id %}" class = "changelink">Select</a>
              </td>
            </tr>   
            <tr id='app4'>
              <th scope="row">
                Team Appraisal
              </th>
              <td>
                <a href="{% url 'employee:team' user.id %}" class = "addlink">Select</a>
              </td>
            </tr>
            <!-- <tr id='app7'>
              <th scope="row">
                View Feedback
              </th>
              <td>
                <a href="{% url 'employee:view_feedback' user.id %}" class = "addlink">Select</a>
              </td>
            </tr>          -->
          </tbody>
        </table><br />
        <table>
          <caption>
            Feedback Manager
          </caption>
          <tbody>
          <tr>
            <th scope="row">
              Reportees
            </th>
            <td>
              <a href="{% url 'employee:employees_under_rm' user.id %}" class = "addlink">Select</a>
            </td>
          </tr>         
        </tbody>
      </table><br />
        <table>
          <caption>
            HR
          </caption>
          <tbody>
          <tr>
            <th scope="row">
              All Members
            </th>
            <td>
              <a href="{% url 'employee:view_all_employees' user.id %}" class = "addlink">Select</a>
            </td>
          </tr>     
          <tr>
            <th scope="row">
              Defaulters
            </th>
            <td>
              <a href="{% url 'employee:form_status' user.id %}" class = "addlink">Select</a>
          </tr>
          <tr>
            <th scope="row">
              Rating Report
            </th>
            <td>
              <a href="{% url 'employee:get_rating' %}" class = "addlink">Download</a>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Rating Report 2017
            </th>
            <td>
              <a href="{% url 'employee:get_rating' %}?year='2017'" class = "addlink">Download</a>
            </td>
          </tr>      
        </tbody>
      </table>
      </div>

      <div id="content-related">
        <div class="module" id="recent-actions-module">
          <h2>Notifications</h2>
          <ul style="list-style-type:square">
            <li>Last date to fill-up feedback of your team {{last_date3}}</li>
            <li>Last date to fill-up feedback form is {{last_date5}}</li>
          </ul>
        </div>
      </div>
      <br class="clear">
      
    </div>
  </div>
</body>
<script>
  var close = document.getElementsByClassName("closebtn");
  var i;

  for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
          var div = this.parentElement;
          div.style.opacity = "0";
          setTimeout(function(){ div.style.display = "none"; }, 600);
      }
  }

  $("#getting-started").countdown("{{ day_left }}", function(event) {
    $(this).text("Time left for submission: "+
      event.strftime('%D days %H:%M:%S')
    );
  });
</script>
</html>

{% endblock %}
