{% extends "employee/base.html" %}

	{% block content %}

          {% if msg %}
      {{msg}}
    {% else %}
<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :50;
    width : 250;
    padding : 20;
}
table#t02 th {
    background-color:#696969  ;
    color: black;
}
table#t02 td {
    text-align: center;
    height :100;
    width : 700;
    padding : 20;
}
.category_data p{
  text-align: left;
}
</style>
</head>
<body>
{% if kpiset %}<br /><br />
<table id="t02" align="center" border='2'>
  <tr>
      <th>KPIs </th>
  </tr>
  <tr>
    <td>

      {% for item in kpiset %}
        <p align="left">{{ forloop.counter }}.{{ item.kpi }}</p>
      {% endfor %}<br /><br />
    </td>
  </tr>
</table>{% endif %}<br /><br />

<form action="{% url 'employee:save_category_form' emp_id %}" method='post'>{% csrf_token %}
{{ formset.management_form }}

<table id="t01" align="center" border='2'>
  <tr>
    <th>Categories</th>
    <th>Comments</th>
    {% if commset_last %}<th>2017 Comment</th> {% endif %}
  </tr>
  {% for form  in formset %}
  <tr>
    <td class="category_data">{{ form.category.value | linebreaks}}</td>
    <td>{{form.comments}}{{ form.errors}}</td>
    {% for comment in commset_last%}
      {% if forloop.counter == forloop.parentloop.counter %}
        <td>{{comment.comments}}</td>
      {% endif %}
    {% endfor %}
    {{ form.category }}
  </tr>
  {% endfor %}
</table>

<p align="center"><input type="submit" value="Save"></input></p>

</body>
</html>
        {% endif %}

    {% endblock %}