{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Update Appraisal Form
      {% endblock %}
	{% block content %}

		{% if msg %}
			{{msg}}
		{% else %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
    text-align: center;
    height :50;
    width : 250;
    padding : 20;
}
</style>
</head>
<body>
<br /><br />{% if kpiset %}
    <p align="center">KPIs assigned to you:</p>
      {% for item in kpiset %}
        <p align="center">{{ forloop.counter }}.{{ item.kpi }}</p>
      {% endfor %}<br /><br />
{% endif %}

<form action="{% url 'employee:update_category_form' emp_id %}" method='post'>{% csrf_token %}
{{ formset.management_form }}

<table id="t01" align="center" border='2'>
  <tr>
    <th>Categories</th>
    <th>Comments</th>
  </tr>
  {% for form in formset %}
  <tr>
    <td>{{ form.category.value}}</td>
    <td>{{form.comments}}{{ form.errors}}</td>
    {{ form.category }}
  </tr>
  {% endfor %}
</table>

<p align="center"><input type="submit" name="Submit"></input></p>

</body>
</html>
        {% endif %}

    {% endblock %}