{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Add Reviewers
      {% endblock %}
	{% block content %}
    {% if msg %}
      {{msg}}
    {% else %}
<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->
<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC  ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
        text-align: center;
        height :100;
        width  : 500;
        padding : 20;
}
#id_reviewer{
  width: 74%;
}

select[multiple] {
    min-height: 323px;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
}
#wrapper {
    border: 1px solid #999;
    margin: 20px;
    width: 80%;
    max-width: 600px;
}
button {
    vertical-align: top;
}
textarea {
    padding: 10px;
    border:0;
    width: 100%;
    resize:vertical;
    outline: 0;
}
.tag-term {
    padding: 10px 30px 10px 10px;
    margin: 5px;
    background-color: #cde69c;
    color: #638421;
    border: 1px solid #a5d24a;
    display: inline-block;
    word-break: break-all;
    position: relative;
}
.tag-term a {
    position: absolute;
    top: 9px;
    right: 5px;
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    color: #cde69c;
    font-weight: bold;
    background-color: #638421;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
}
.my_reviewers{
    margin-left: 28%;
    width: 50%;
}
.note_color{
  color: red;
}

</style>
</head>
<body>
      <br /><br /><form id="reviewer_form" action="{% url 'employee:define_reviewers' emp_id %}" method='post'>{% csrf_token %}
        <p align="center" class="note_color">Minimum 3 and maximum 8 reviewers to be selected under the categories : Project Manager, Senior, Peer and Junior.</p>
      <div class="my_reviewers">

        <div id="wrapper">

          <div>Seleted reviewers are:</div>
          <div class="tags"></div>
        </div>        
      </div>
            <table id="t01" align='center' border="2">
              <tr>
                <th>Add Reviewers</th>
              </tr>
              <tr>
                <td>{{form.reviewer}}</td>   
              </tr>
            </table>   
            <p align="center"><input type='submit' value='Add' /></p>   
      </form>
</body>
</html>  

{%endif%}
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_reviewer').on('change', function(){
      var reviewer_array = []
      var reviewer_dict = {};
      $('select option:selected').each(function(){ 
        reviewer_dict[$(this).text()] = $(this).val();
        reviewer_array.push($(this).text()); 
      })
      update_tags(reviewer_dict);
    });

  function update_tags(reviewer_dict){
    $('.tags').html("");
    if (reviewer_dict) {
        $.each(reviewer_dict, function (key, value) {
            $('<div class="tag-term" />').appendTo('.tags').append(key).append("<a class='close' data-attr="+ value +" href='#''>x</a>");
        });
    }
    //create tag
    var tagged = function () {
        var $tag = $('.tags-area').val();
        if ($tag) {
            $('<div class="tag-term"  />').appendTo('.tags').append($tag).append('<a class="close" href="#">x</a>');
            $('.tags-area').val('');
        }

    };

    //remove tag
    $('.tags').on('click', '.tag-term a', function () {
      $("select#id_reviewer option[value="+ $(this).attr('data-attr') +"]").removeAttr("selected");
      $(this).parent().remove();
    });

    //remove tag backspace
    $('.tags-area').on("keydown", function (e) {
        if (e.keyCode == 8) {
            var $caret = $(".tags-area").getCursorPosition();
            if ($caret === 0) {
                $(".tags .tag-term").last().remove();
            }
        }
    });

    //get caret position
    $.fn.getCursorPosition = function () {
        var el = $(this).get(0);
        var pos = 0;
        if ('selectionStart' in el) {
            pos = el.selectionStart;
        } else if ('selection' in document) {
            el.focus();
            var Sel = document.selection.createRange();
            var SelLength = document.selection.createRange().text.length;
            Sel.moveStart('character', -el.value.length);
            pos = Sel.text.length - SelLength;
        }
        return pos;
    };
  }
  });

  $( "#reviewer_form" ).submit(function( event ) {
    length = $("#id_reviewer :selected").length;
    if (length <=8){
      return true;
      $( "#reviewer_form" ).submit();
    }else{
      alert("Reviewer should greater then 8, you have selected " + length + " reviewers");
      return false;
    }
});
</script>
{% endblock %}