{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | My Team
      {% endblock %}
	{% block content %}    
    {% if msg %}
      {{msg}}
    {% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 5;
}

</style>
</head>
<body>
<br /><br /><p align="center">Fill up forms of below members:</p>
<table id="t01" align='center' border="2">

  <tr>
  <th>Member</th>
  <th>Appraisal Form</th>
  <th>Status</th>
  </tr>
  {% for emp in empset %}  
  <tr>
    <td>{{emp.employee.emp_name}}</td>
    <td><a href="{% url 'employee:save_category_form' emp.employee.id %}">Fill Category Form</a>
    </td>
    <td> 
    {% for result in categoryresult %}
        {% if result.employee.id == emp.employee.id %}
            {% if result.comments %}
             <p>&#x2714;</p>
            {% endif %}
        {% endif %}
    {% endfor %} 
    </td>   
  {% endfor %}
  </tr>
</table>
</body>
</html>

        {% endif %}

{% endblock %}

