{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Unauthorized User
      {% endblock %}
	{% block content %}

<br /><br />
You are not authorized for this action.
<br><br>

{% endblock %}