{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | Update Feedback
      {% endblock %}
	{% block content %}    
    {% if msg %}
      {{msg}}
    {% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 5;
}
</style>
</head>
<body>
<br /><br /><form action="{% url 'employee:update_feedback' emp_id %}" method='post'>{% csrf_token %}
<table id="t01" align='center' border="2">
  <tr>
    <th>Feedback of :</th>
    <th>{{name}}</th>
  </tr>
<!--   <tr>
  	<td>Rating</td>
    <td>{{form.rating}}</td>
  </tr> -->
  <tr>
  	<td>Comments</td>
  	<td>{{form.feedback}}</td>
  </tr>
{% if request.user.role == "hr" or request.user.role == 'hr and rm' %}
  <tr>
    <td>Approve Feedback Manager's feedback</td>
    <td> {{form.hr_approved}} </td>
  </tr>
{% endif %}
{% if request.user.role == "ceo" or request.user.role == 'ceo and rm' %}
  <tr>
    <td>Approve HR's feedback</td>
    <td> {{form.ceo_approved}} </td>
  </tr>
{% endif %}
</table>
<p align="center"><input type='submit' value='Save' /></p>
</form>
</body>
</html>

        {% endif %}

{% endblock %}