{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | User Profile
      {% endblock %}
{% block content %}
<head>
<style type="text/css">

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#DCDCDC}

</style>
</head>
<body>
<br /><br /><br /><table align="center" border="2">
	<tr>
		<td>Name</td><td>{{user.emp_name}}</td>
	</tr>
	<tr>
		<td>Email</td><td>{{user.email}}</td>
	</tr>
	<tr>
		<td>Member Code</td><td>{{user.emp_code}}</td>
	</tr>	
	<tr>
		<td>Member Role</td><td>{% if user.role %}{{user.role|upper}}{% else %} Employee {% endif %}</td>
	</tr>	
	<tr>
		<td>Department </td><td>{{user.emp_department}}</td>
	</tr>
	<tr>
		<td>Level </td><td>{{user.emp_level}}</td>
	</tr>
	<tr>
		<td>Stack </td><td>{{user.emp_stack}}</td>
	</tr>
	<tr>
		<td>Designation </td><td>{{user.emp_designation}}</td>
	</tr>
</table>

</body>
{% endblock %}
