{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | All Members
      {% endblock %}
	{% block content %}
	<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 20;
}
table#t01 tr:hover{background-color:#c1c1c1}
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  
</script> 
<script>
function DisableLink()
{

  var finalize_reviewer_active = "{{ finalize_reviewer_active }}"
  var feedback_active = " {{ feedback_active }}"
  // $('#hi').html(finalize_reviewer_expired );
  if (finalize_reviewer_active === 'False'){
    $('#app a').css('color','grey');
    $('#app a').click(function(e){
    e.preventDefault();});    
  }
  if (feedback_active === 'False'){
    $('#app6 a,').css('color','grey');
    $("#app6 a, ").click(function(e){
    e.preventDefault();});     
  }
}

$(document).ready(function(){

    DisableLink();

});
  </script>
</head>
<body>

<br /><br /><table id="t01" align="center" border='2'>
  <tr>
    <th>Member</th>
    <th>Team</th>
    <th>Feedback</th>
    <th>Form Status</th>
    <th>Feedback approved by HR</th>
    <th>Feedback approved by CEO</th>
  </tr>
	{% for emp in empset %}
  <tr>
  	<td>{{emp.emp_name}}</td>
  	<td id ='app'><a href="/admin/employee/reviewer/">Finalize Team</a></td>
  	<td id='app6'><a href="{% url 'employee:view_competency' emp.id %}">FeedBack</a> / 
    <a href="{% url 'employee:update_feedback' emp.id %}">Edit</a>
    <td> <a href="{% url 'employee:form_status' emp.id %}">Form Status</a></td>
    <td>
    {% for feed in feedback %}
        {% if feed.employee.id == emp.id %}
          {% if feed.hr_approved %}
        <p id='status'>&#x2714;</p></td>
          {%endif%}
        {%endif%}
    {%endfor%}
    <td>
    {% for feed in feedback %}
        {% if feed.employee.id == emp.id %}
          {% if feed.ceo_approved %}
        <p id='status'>&#x2714;</p></td>
          {%endif%}
        {%endif%}
    {% endfor %}
  </tr>
  	{% endfor %}

</table>
</body>
</html>

{% endblock %}



