{% extends "employee/base.html" %}
      {% block title %}
            PMS Site | View Reviewers
      {% endblock %}
	{% block content %}    
    {% if msg %}
      {{msg}}
    {% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
    text-align: center;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 250;
	padding : 10px;
  text-align: center;
}
</style>
</head>
<body>
<br /><br /><p align="center">You have added the below reviewers:</p>
<table id="t01" align='center' border="2">

  {% for emp in empset %}  
  <tr>
    <td>{{emp.reviewer.emp_name}}</td>
    <td><a href="{% url 'employee:delete_reviewer' emp.reviewer.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>

    {% endif %}

{% endblock %}