{% extends "employee/base.html" %}

	{% block content %}

	{% if msg %}
		{{msg}}
	{% else %}

<!DOCTYPE html>
<html>
<head>
<style>
table#t01 tr:nth-child(even) {
    background-color:  #DCDCDC	;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color:#696969  ;
    color: black;
}
table#t01 td {
	text-align: center;
	height :50;
	width : 150;
	padding : 20;
}
</style>
</head>
<body>
<br /><br />{% for key,value1 in  response.items %}
<table id="t01" align="center" border='2'>
<tr>
<th>Category : </th>
<th>{{key}}</th>
</tr>
<tr>
{%for value in value1  %}
<td>{{value.filled_by}}</td>
<td>{{value.comments}}</td>
</tr>
{% endfor%}
</table><br /><br />
{% endfor%}
</body>
</html>

{% endif %}
{% endblock %}



